@import './sidebar.scss';
@import './libs/vivify.scss';
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}
.white {
    color:#fff;
}
.el-scrollbar__view,.h-full {
    height: 100%;
}
.fa-mr {
    margin-right: 5px;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .2s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.text-danger{
  color:#F40505
}
.h-full {
  height: 100%;
}
// table 

.el-table--small th, .el-table--small td {
  padding: 12px 0;
  font-size: 14px;
}
.el-table th.is-leaf, .el-table td {
  border-bottom: 1px solid #F5F5F5;
}

.sidebar-container {
  .el-menu-item i,.el-menu-item span,.el-submenu__title i,.el-submenu__title span {
    color: #BABFC1;
    }
}


// .el-tree

.el-tree {
  .icon {
    color: #757E82;
  }
}

.public-dialog {
   .el-dialog__header {
    background: #f5fafb;
    padding: 13px;
    font-size: 16px;
    color: #37474f;
    padding-left: 20px;
  }
 .el-dialog__headerbtn {
    top: 14px;
  }
  .el-dialog__footer {
    padding: 0;
    border-top: 1px solid #e4eaec;
    padding: 10px 20px;
  }
  .el-dialog__body {
    padding: 10px 20px;
  }
  .dialog-multiple-footer {
    display: flex;
    justify-content: space-between;
  }
}

.page-side {
  padding: 20px;
  border-right: 1px solid #e4eaec;
  .page-title {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
  }
  .side-header {
    display: flex;
    margin-bottom: 20px;
    .input {
      margin-right: 10px;
       input {
        border-radius: 40px;
      }
    }
  }
}

.table-tabs {
  padding-top: 20px;

   .el-tabs__header {
    padding: 0 20px;
    margin: 0;
  }
  
   .el-tabs__nav-wrap {
    &::after {
      background-color: transparent;
    }
  }
   .el-tabs__item {
    font-weight: normal;
  }
}
.form-tabs {
  padding-top:0;
   .el-tabs__header {
 
    margin: 0;
  }
  
   .el-tabs__nav-wrap {
    &::after {
      background-color: transparent;
    }
  }
   .el-tabs__item {
    font-weight: normal;
  }
}
.table-column-disabled {
  .el-checkbox.is-disabled {
      // .el-checkbox__inner {
      //     display: none;
      // }
      font-family: "iconfont" !important;
      font-size: 16px;
      &::after{
              content: "\E62C";
              color:#CCD5DB;
              margin-left: 9px;
      }
  }
}
.row-state-class {
  .el-checkbox {
      font-family: "iconfont" !important;
      font-size: 16px;
      &::after{
              content: "\E62C";
              color:#CCD5DB;
              margin-left: 9px;
      }
  }
}

// table-main-------------------------------------------------

@keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$color-blue: #2196f3;
$space-width: 18px;
.ms-tree-space {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: $space-width;
  height: 14px;
  &::before {
    content: "";
  }
}
.processContainer {
  width: 100%;
  height: 100%;
}
.tree-ctrl {
  position: relative;
  cursor: pointer;
  color: $color-blue;
  // margin-left: -$space-width;
  margin-left: -22px;
}

.sub-open {
  transform: rotate(45deg);
}

// tree

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #E4EAEC;
}

.tree {
  font-size: 14px;
  .el-tree-node__content {
    height: 34px;
  }
}
.el-tree-node__content {
  height: 36px;
}

// 
.line-box {
  overflow: hidden;
  position: relative;
  &::after {
    content:"";
    width: 0px;
    height: 94%;
    border-right: 1px dashed #e8e8e8;
    position: absolute;
    left: 50%;
    top: 0%;
  }
}


.table-import-upload {
  position: relative;
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%; 
  }
}